* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: white;
  color: #333;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

span {
  color: salmon;
}
.navbar h1 {
  font-size: 20px;
}

.navbar .links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.links a {
  text-decoration: none;
  color: black;
  transition: all 0.6s linear;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.links a:hover {
  background-color: lightblue;
}

#box {
  border: 2px solid greenyellow;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.item {
  border: 1px solid salmon;
  padding: 10px;
}
